.navbar {
    background-color: #002D62;
    position: relative;

}
  
.navbar-brand {
    padding: 0;
    position: absolute;
    left: 20px;
    top: 65%;
    transform: translateY(-50%);
}
  
.logo-img {
    width: 180px;
    height: auto;
}
  
.nav-link {
    margin-top: 10px;
    font-size: 40px;
    color: white !important;
}

.navbar-nav > .nav-item:nth-child(-n+3) .nav-link {
    margin-right: 130px;
}


.navbar-menu {
    display: flex;
    justify-content: flex-end;
}
